.imageWCaption{
    text-align: center;
    color: red;
    border-color: green;
    border-width: 2px;
}

.test {
    color: blue;
    font-size: 2rem;
    border-width: 1px;
    border-color: pink;
}